---
layout: page
title: About Me
excerpt: Jade Jaber - Architecte Big Data - Data Scientist.
search_omit: true
published: true
---
<p>I am an engineer passionate of data and mathematics.</p>

<p>Current position: <strong>Hadoop administrator</strong>, part of the Big Data Skill Center at Orange</p>
<ul>
  <li>Day-to-day administration of Hadoop clusters, including installation, security, upgrading and configuration.</li>
  <li>Perform troubleshooting and provide expertise (debug &amp; optimization) to the developers &amp; analysts.</li>
</ul>

<p>Furthermore, I have strong knowledge of the data lifecycle through its 3 major steps:</p>
<ul>
  <li><strong>Processing</strong>: Extraction, cleaning, enrichment and storage</li>
  <li><strong>Visualization</strong>: Plotting, OLAP Cube, reports and dashboards</li>
  <li><strong>Analysis</strong>: Predictive Analysis - Machine Learning</li>
</ul>

<p>My role is to identify and implement the best technologies available on the market taking into account the data type (real time, format, size, confidentiality) &amp; the business needs (processing, visualization,  analysis)</p>



<!--ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul-->
